.min-h-screen {
    min-height: 100vh;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.font-bold {
    font-weight:900;
}

.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2 {
    margin-top: 23px;
    margin-bottom: 23px;
}

.px-1 {
    padding-left: 13px;
    padding-right: 13px;
}
.px-3 {
    padding-left: 52px;
    padding-right: 52px;
}
.py-1 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.text-blue {
    color: rgb(227,74,56);
}

.btn {
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    background-color: rgb(227,74,56) ;
    cursor: pointer;
}

.overflow-x-hidden {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.highlighted {
    font-weight: bold;
    font-size: 1.3rem;
}
.text-start {
    text-align: start;
}